:root {
    /* Solarized Dark (https://ethanschoonover.com/solarized/) */
    --base03: #002b36;
    --base02: #073642;
    --base01: #586e75;
    --base00: #657b83;
    --base0: #839496;
    --base1: #93a1a1;
    --base2: #eee8d5;
    --base3: #fdf6e3;
    --yellow: #b58900;
    --orange: #cb4b16;
    --red: #dc322f;
    --magenta: #d33682;
    --violet: #6c71c4;
    --blue: #268bd2;
    --cyan: #2aa198;
    --green: #859900;
}

body {
    background-color: var(--base03);
    color: var(--base2);
    font-family: sans-serif;
    margin: 0;
    width: 100%;
    height: 100%;
}

kbd {
    background-color: var(--base02);
    padding: 0.5rem;
    display: inline-block;
    border-radius: 0.25rem;
}

a, a:visited {
    color: var(--base2);
}

.main {
    height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.file-uploader {
    border: 2px solid var(--base2);
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.file-uploader>.description {
    text-align: center;
}

#fileInput {
    text-align: center;
    width: 100%;
}
